/* SPDX-License-Identifier: Apache-2.0 */
.required {
  color: red;
}

.deprecated {
  color: red;
}

.description {
  overflow: auto;
}

.property-title {
  min-width: fit-content;
}

.attribute {
  background-color: rgb(128, 90, 213);
  color: rgb(255, 255, 255);
  margin: 0 0.2em 0.2em 0;
  padding: 0.1em 0.2em 0.1em 0.2em;
  border-radius: 4px;
}

.value-box {
  margin: 1px 6px 1px 0;
  background-color: #eeeeee;
  border: 1px dashed grey;
  color: dimgrey;
  border-radius: 4px;
  padding: 0 2px;
  overflow-wrap: anywhere;
  white-space: normal;
  width: fit-content;
}
