version: '3'
services:
  app:
    image: stavshamir/springwolf-jms-example:${SPRINGWOLF_VERSION}
    links:
      - activemq
    environment:
      BOOTSTRAP_SERVER: tcp://activemq:61616
    ports:
      - "8080:8080"
    depends_on:
      - activemq

  activemq:
    image: apache/activemq-artemis:2.31.2
    environment:
      EXTRA_ARGS: --http-host 0.0.0.0 --relax-jolokia --nio
    ports:
      - "61616:61616"
      - "8161:8161"
