services:
  app:
    image: stavshamir/springwolf-jms-example:${SPRINGWOLF_VERSION}
    links:
      - activemq
    environment:
      BOOTSTRAP_SERVER: tcp://activemq:61616
    ports:
      - "8080:8080"
    depends_on:
      - activemq

  activemq:
    image: apache/activemq-artemis:2.44.0-alpine
    environment:
      EXTRA_ARGS: --http-host 0.0.0.0 --relax-jolokia --nio
      ARTEMIS_USER: artemis
      ARTEMIS_PASSWORD: artemis
    ports:
      - "61616:61616"
      - "8161:8161"
