/* SPDX-License-Identifier: Apache-2.0 */
.schema-name {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 6px;
  font-weight: normal;
}

.type-badge {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 4px;
  font-weight: normal;
  font-size: small;
}
