bin/
build/
springwolf-add-ons/build/
springwolf-core/build/
springwolf-examples/build/
springwolf-plugins/build/
springwolf-ui/build/
springwolf-add-ons/springwolf-common-model-converters/build/
springwolf-examples/springwolf-amqp-example/build/
springwolf-examples/springwolf-cloud-stream-example/build/
springwolf-examples/springwolf-kafka-example/build/
springwolf-examples/springwolf-sqs-example/build/
springwolf-plugins/springwolf-amqp-plugin/build/
springwolf-plugins/springwolf-cloud-stream-plugin/build/
springwolf-plugins/springwolf-kafka-plugin/build/
springwolf-plugins/springwolf-sqs-plugin/build/

.gradle/
.idea/
/gradle.properties

# Eclipse IDE
.classpath
.project
.settings/

# springwolf-add-ons
springwolf-add-ons/.classpath
springwolf-add-ons/.project
springwolf-add-ons/.settings/

# springwolf-common-model-converters
springwolf-add-ons/springwolf-common-model-converters/.classpath
springwolf-add-ons/springwolf-common-model-converters/.project
springwolf-add-ons/springwolf-common-model-converters/.settings/

# springwolf-core
springwolf-core/.classpath
springwolf-core/.factorypath
springwolf-core/.project
springwolf-core/.settings/

# springwolf-examples
springwolf-examples/.classpath
springwolf-examples/.project
springwolf-examples/.settings/

# springwolf-amqp-example
springwolf-examples/springwolf-amqp-example/.classpath
springwolf-examples/springwolf-amqp-example/.factorypath
springwolf-examples/springwolf-amqp-example/.project
springwolf-examples/springwolf-amqp-example/.settings/

# springwolf-cloud-stream-example
springwolf-examples/springwolf-cloud-stream-example/.classpath
springwolf-examples/springwolf-cloud-stream-example/.factorypath
springwolf-examples/springwolf-cloud-stream-example/.project
springwolf-examples/springwolf-cloud-stream-example/.settings/

# springwolf-kafka-example
springwolf-examples/springwolf-kafka-example/.classpath
springwolf-examples/springwolf-kafka-example/.factorypath
springwolf-examples/springwolf-kafka-example/.project
springwolf-examples/springwolf-kafka-example/.settings/

# springwolf-sqs-example
springwolf-examples/springwolf-sqs-example/.classpath
springwolf-examples/springwolf-sqs-example/.factorypath
springwolf-examples/springwolf-sqs-example/.project
springwolf-examples/springwolf-sqs-example/.settings/

# springwolf-plugins
springwolf-plugins/.classpath
springwolf-plugins/.project
springwolf-plugins/.settings/

# springwolf-amqp-plugin
springwolf-plugins/springwolf-amqp-plugin/.classpath
springwolf-plugins/springwolf-amqp-plugin/.factorypath
springwolf-plugins/springwolf-amqp-plugin/.project
springwolf-plugins/springwolf-amqp-plugin/.settings/

# springwolf-cloud-stream-plugin
springwolf-plugins/springwolf-cloud-stream-plugin/.classpath
springwolf-plugins/springwolf-cloud-stream-plugin/.factorypath
springwolf-plugins/springwolf-cloud-stream-plugin/.project
springwolf-plugins/springwolf-cloud-stream-plugin/.settings/

# springwolf-kafka-plugin
springwolf-plugins/springwolf-kafka-plugin/.classpath
springwolf-plugins/springwolf-kafka-plugin/.factorypath
springwolf-plugins/springwolf-kafka-plugin/.project
springwolf-plugins/springwolf-kafka-plugin/.settings/

# springwolf-sqs-plugin
springwolf-plugins/springwolf-sqs-plugin/.classpath
springwolf-plugins/springwolf-sqs-plugin/.factorypath
springwolf-plugins/springwolf-sqs-plugin/.project
springwolf-plugins/springwolf-sqs-plugin/.settings/

