<!-- SPDX-License-Identifier: Apache-2.0 -->
<table class="schema">
  <tbody>
    <!--  Primitive types  -->
    <tr *ngIf="schema.type !== 'object'">
      <ng-container
        [ngTemplateOutlet]="valueContent"
        [ngTemplateOutletContext]="{ value: schema }"
      >
      </ng-container>
    </tr>
    <!--  Objects  -->
    <tr *ngFor="let property of schema?.properties | keyvalue">
      <td class="key">
        {{ property.key }}
        <span class="required" *ngIf="schema.required?.includes(property.key)"
          >*</span
        >
      </td>
      <td>
        <ng-container *ngIf="property.value.items">
          <span
            class="type"
            *ngIf="property.value.items.type && !property.value.items.anchorUrl"
            >{{ property.value.items.type }}[]</span
          >
          <span class="type" *ngIf="property.value.items.anchorUrl">
            <a [href]="property.value.items.anchorUrl"
              >{{ property.value.items.refTitle }}[]</a
            >
          </span>
        </ng-container>
        <ng-container
          [ngTemplateOutlet]="valueContent"
          [ngTemplateOutletContext]="{ value: property.value }"
        >
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #valueContent let-value="value">
  <div class="type-content">
    <span class="type" *ngIf="value.type != 'array'">{{ value.type }}</span>

    <ng-container
      [ngTemplateOutlet]="rangeContent"
      [ngTemplateOutletContext]="{
        rangeValue: {
          minimum: value.minimum,
          maximum: value.maximum,
          exclusiveMinimum: value.exclusiveMinimum,
          exclusiveMaximum: value.exclusiveMaximum,
        }
      }"
    >
    </ng-container>
  </div>

  <span class="type" *ngIf="value.refTitle">
    <a [href]="value.anchorUrl">{{ value.refTitle }}</a>
  </span>
  <span class="format" *ngIf="value.format">({{ value.format }})</span>
  <div class="description">{{ value.description }}</div>
  <span class="example" *ngIf="value.example"
    >example: {{ value.example.value }}</span
  >
  <mat-select *ngIf="value.enum" placeholder="Enum">
    <mat-option *ngFor="let enum of value.enum" [value]="enum"
      >{{ enum }}
    </mat-option>
  </mat-select>
</ng-template>

<ng-template #rangeContent let-rangeValue="rangeValue">
  <span class="range" *ngIf="rangeValue.minimum !== undefined && rangeValue.maximum === undefined">
    <span *ngIf="rangeValue.exclusiveMinimum; then exclusiveMinimumSign else inclusiveMinimumSign"></span>
    {{ rangeValue.minimum }}
  </span>
  <span class="range" *ngIf="rangeValue.minimum === undefined && rangeValue.maximum !== undefined">
    <span *ngIf="rangeValue.exclusiveMaximum; then exclusiveMaximumSign else inclusiveMaximumSign"></span>
    {{ rangeValue.maximum }}
  </span>
  <span class="range" *ngIf="rangeValue.minimum !== undefined && rangeValue.maximum !== undefined">
    <span *ngIf="rangeValue.exclusiveMinimum; then exclusiveMinimumBrackets else inclusiveMinimumBrackets"></span>
    {{ rangeValue.minimum }} .. {{ rangeValue.maximum }}
    <span *ngIf="rangeValue.exclusiveMaximum; then exclusiveMaximumBrackets else inclusiveMaximumBrackets"></span>
  </span>
</ng-template>

<ng-template #exclusiveMinimumBrackets>(</ng-template>
<ng-template #exclusiveMaximumBrackets>)</ng-template>
<ng-template #inclusiveMinimumBrackets>[</ng-template>
<ng-template #inclusiveMaximumBrackets>]</ng-template>

<ng-template #exclusiveMinimumSign>&gt;</ng-template>
<ng-template #exclusiveMaximumSign>&lt;</ng-template>
<ng-template #inclusiveMinimumSign>&gt;=</ng-template>
<ng-template #inclusiveMaximumSign>&lt;=</ng-template>
