services:
  app:
    image: stavshamir/springwolf-cloud-stream-example:${SPRINGWOLF_VERSION}
    links:
      - kafka
    environment:
      BOOTSTRAP_SERVER: kafka:29092
    ports:
      - "8080:8080"
    depends_on:
      - kafka

  kafka:
    image: confluentinc/cp-kafka:8.0.2
    ports:
      - "9095:9095" # plaintext - no authentication (port 9095 avoids conflict with kafka plugin)
    volumes:
      - ./broker_jaas.conf:/etc/kafka/secrets/broker_jaas.conf
    environment:
      KAFKA_NODE_ID: 1
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk=='
      KAFKA_LISTENERS:            PLAINTEXT://0.0.0.0:9095,  INTERNAL://kafka:29092, SASL_PLAINTEXT://0.0.0.0:9093,  SASL_INTERNAL://kafka:29093, CONTROLLER://kafka:29099
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9095,INTERNAL://kafka:29092, SASL_PLAINTEXT://localhost:9093,SASL_INTERNAL://kafka:29093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT,  SASL_PLAINTEXT:SASL_PLAINTEXT,SASL_INTERNAL:SASL_PLAINTEXT,  CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_PROCESS_ROLES: 'controller,broker'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29099'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_SASL_ENABLED_MECHANISMS: PLAIN
      KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: PLAIN
      KAFKA_OPTS: -Djava.security.auth.login.config=/etc/kafka/secrets/broker_jaas.conf
