/* SPDX-License-Identifier: Apache-2.0 */
.schema {
  font-weight: 500;
}

.key {
  width: 12em;
  vertical-align: top;
}

.required {
  color: red;
}

.type {
  color: #55a;
}

.example {
  color: #6b6b6b;
  font-style: italic;
}
