<!-- SPDX-License-Identifier: Apache-2.0 -->
<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="sidenav">
    @for (link of navigation; track link) {
    <!-- TODO: convert to list? ul li -->
    <div class="entry" [ngClass]="{ selected: link.selected }">
      <span>
        <a [href]="link.href"> {{ link.name }}</a>
      </span>

      <div>
        @for (child of link.children; track child) {
        <span class="entry" [ngClass]="{ selected: child.selected }">
          <a [href]="child.href"> {{ child.name }}</a>
          <br />
        </span>
        }
      </div>
    </div>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <div #scrollableElement style="overflow-y: auto; height: 100%">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
