<!-- SPDX-License-Identifier: Apache-2.0 -->
<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="sidenav">
    @for (link of navigation; track link) {
    <ul class="entry" [ngClass]="{ selected: link.selected }">
      <li>
        <a [href]="link.href"> {{ link.name }}</a>

        <ul>
          @for (child of link.children; track child) {
          <li class="entry" [ngClass]="{ selected: child.selected }">
            <a [href]="child.href"> {{ child.name }}</a>

            <ul>
              @for (subchild of child.children; track subchild) {
              <li class="entry" [ngClass]="{ selected: subchild.selected }">
                <a [href]="subchild.href"> {{ subchild.name }}</a>
              </li>
              }
            </ul>
          </li>
          }
        </ul>
      </li>
    </ul>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <div #scrollableElement style="overflow-y: auto; height: 100%">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
