/* SPDX-License-Identifier: Apache-2.0 */
.sidenav {
  padding-left: 0.1em;
}

.sidenav ul {
  list-style-type: none;
  padding-inline-start: 0.5em;
}

.sidenav .entry {
  border-left: 0.3em solid transparent;
  padding-left: 0.1em;
}
.sidenav .entry.selected {
  border-left: 0.3em solid black;
}
