<section>
    <mat-divider></mat-divider>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Schema">
        <h4>{{ operation.message.title }} <span class="payload-name">{{ operation.message.name }}</span></h4>
        <app-schema *ngIf="schema" [schema]="schema" [root]="schemaRoot"></app-schema>
      </mat-tab>
      <mat-tab label="Example">
            <textarea spellcheck="false" #exampleTextArea [rows]="exampleTextAreaLineCount"
                      [value]="defaultExample?.value" (keyup)="recalculateLineCount(exampleTextArea.value)"></textarea>
        <div fxLayout fxLayoutGap="8px">
          <button mat-raised-button color="primary" (click)="publish(exampleTextArea.value)">
            Publish
          </button>
          <button mat-raised-button color="primary"
                  (click)="exampleTextArea.value = defaultExample.value; exampleTextAreaLineCount=defaultExample.lineCount">
            Default
          </button>
          <button mat-raised-button color="primary" [cdkCopyToClipboard]="exampleTextArea.value">Copy</button>
        </div>
      </mat-tab>
      <mat-tab label="Bindings">
        <app-schema [schema]="operation.bindings" [root]="bindingsRoot"></app-schema>
      </mat-tab>
    </mat-tab-group>
</section>
