<section>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Schema">
            <app-schema [schema]="schema"></app-schema>
        </mat-tab>
        <mat-tab label="Example">
            <textarea rows="{{ defaultExample.lineCount }}" [value]="defaultExample.value"></textarea>
            <div fxLayout fxLayoutGap="8px">
                <button mat-raised-button color="primary">Publish</button>
                <button mat-raised-button color="primary">Default</button>
                <button mat-raised-button color="primary" [cdkCopyToClipboard]="defaultExample.value">Copy</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>