textarea {
    margin-top: 16px;
    padding: 8px;
    border-radius: 4px;
    border-width: 0;
    line-height: 24px;
    background-color: #282c34;
    color: #abb2bf;
}

button {
    margin-top: 8px;
}

.property-badge {
    background-color: #C5CAE9;
    border-radius: 4px;
    padding: 6px;
    font-size: small;
    font-weight: bold;
}

.payload-name {
    background-color: #E0E0E0;
    border-radius: 4px;
    padding: 6px;
    font-weight: normal;
}

.header-name {
  background-color: #E0E0E0;
  border-radius: 4px;
  padding: 6px;
  font-weight: normal;
}

[hidden] {
  display: none !important;
}
