<section>
    <mat-divider></mat-divider>
    <div fxLayout fxLayoutAlign="flex-start center" fxLayoutGap="12px">
        <div class="property-badge">Payload</div>
        <h4>{{ operation.message.title }}</h4>
        <div class="payload-name">{{ operation.message.name }}</div>
    </div>
    <div *ngIf="kafkaBinding.groupId" fxLayout fxLayoutAlign="flex-start center" fxLayoutGap="12px">
        <div class="property-badge">Group ID</div>
        <h4>{{ kafkaBinding.groupId }}</h4>
    </div>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Schema">
            <app-schema *ngIf="schema" [schema]="schema"></app-schema>
        </mat-tab>
        <mat-tab label="Example">
            <textarea spellcheck="false" #exampleTextArea [rows]="exampleTextAreaLineCount"
                [value]="defaultExample?.value" (keyup)="recalculateLineCount(exampleTextArea.value)"></textarea>
            <div fxLayout fxLayoutGap="8px">
                <button mat-raised-button color="primary" (click)="publish(exampleTextArea.value)">
                    Publish
                </button>
                <button mat-raised-button color="primary"
                    (click)="exampleTextArea.value = defaultExample.value; exampleTextAreaLineCount=defaultExample.lineCount">
                    Default
                </button>
                <button mat-raised-button color="primary" [cdkCopyToClipboard]="exampleTextArea.value">Copy</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>