<!-- SPDX-License-Identifier: Apache-2.0 -->
<mat-toolbar color="primary" class="flex-column space-between items-center">
  <a href="https://www.springwolf.dev" target="_blank">
    <img src="assets/springwolf-logo.png" class="logo" alt="Logo" />
  </a>
  <h2>Springwolf</h2>
  <div>
    <mat-slide-toggle
      [(ngModel)]="isNewUi"
      (change)="toggleIsNewUi($event.checked)"
      >New UI</mat-slide-toggle
    >
    <a href="https://github.com/springwolf/springwolf-core" target="_blank">
      <i class="fa fa-github fa-2x"></i>
    </a>
  </div>
</mat-toolbar>
