/* SPDX-License-Identifier: Apache-2.0 */
.logo {
  height: 3em;
  width: 3em;
  display: block;
}

h1,
:host ::ng-deep label,
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: lightgray;
}
