<!-- SPDX-License-Identifier: Apache-2.0 -->
<mat-toolbar class="flex-column space-between items-center">
  <span>
    <a
      href="https://www.springwolf.dev"
      target="_blank"
      class="flex flex-column items-center"
    >
      <img
        src="assets/springwolf-logo.png"
        class="logo"
        alt="Logo"
        height="1024"
        width="1024"
      />
      Springwolf
    </a>
  </span>
  <h1>{{ title }}</h1>
  <div>
    <mat-slide-toggle
      [(ngModel)]="isNewUi"
      (change)="toggleIsNewUi($event.checked)"
      >New UI</mat-slide-toggle
    >
    &nbsp;
    <a href="https://github.com/springwolf/springwolf-core" target="_blank">
      GitHub
    </a>
  </div>
</mat-toolbar>
