/* SPDX-License-Identifier: Apache-2.0 */
.logo {
  height: 3em;
  width: 3em;
  display: block;
}

:host ::ng-deep label,
a {
  color: var(--mat-toolbar-container-text-color);
}

a {
  text-decoration: none;
}
a:hover {
  color: lightgray;
}

:host ::ng-deep mat-icon {
  height: 3em;
  width: 3em;
  transform: scale(0.75);
  filter: invert(100%);
}
