/* You can add global styles to this file, and also import other style files */
@import '~highlight.js/styles/atom-one-dark.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card {
    background-color: #F5F5F5;
}

.mat-expansion-panel {
    background-color: #F5F5F5;
}