/* SPDX-License-Identifier: Apache-2.0 */
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/** Load highlight.js syntax highlighting */
@import "~highlight.js/styles/atom-one-dark.css";

.mat-mdc-card {
  background-color: #f5f5f5 !important;
}

.mat-expansion-panel {
  background-color: #f5f5f5;
}

/* Migration away from @angular/flex-layout (https://github.com/angular/flex-layout/issues/1426) */
.flex {
  display: flex;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex-start {
  align-items: start;
}
