<!-- SPDX-License-Identifier: Apache-2.0 -->
<h1>Channels</h1>
@for (channel of channels; track channel) {
<article appNavigationTarget [id]="channel.anchorIdentifier">
  <span class="flex space-between align-items-baseline">
    <span class="flex gap-16">
      <span class="badge protocol-badge" *ngIf="channel.operation.protocol">
        {{ channel.operation.protocol }}
      </span>
      <span
        class="badge"
        [ngClass]="{
          'send-badge': channel.operation.operationType === 'send',
          'receive-badge': channel.operation.operationType === 'receive'
        }"
      >
        {{ channel.operation.operationType }}
        <i
          class="fa {{
            channel.operation.operationType == 'receive'
              ? 'fa-arrow-circle-down'
              : 'fa-arrow-circle-up'
          }}"
        ></i>
      </span>
    </span>

    <h2 [attr.data-testid]="channel.anchorIdentifier">
      {{ channel.name }}
    </h2>

    <mat-chip>{{ channel.operation.message.title }}</mat-chip>
  </span>

  <app-channel-main-new
    [channelName]="channel.name"
    [operation]="channel.operation"
  ></app-channel-main-new>
  <mat-divider />
</article>
}
