<div class="row mb-2">
  <div class="col-12">
    <div class="card bg-light text-dark">
      <div class="card-header"
           style="background-color: aliceblue; cursor: pointer;"
           (click)="isOpen = !isOpen">
        <h5>
          <span class="badge mr-2 p-2 text-light" style="background-color: black;">TOPIC</span>
          {{ endpoint.topic }}
        </h5>
        {{ endpoint.payloadClassName }}
      </div>
      <div class="card-body" *ngIf="isOpen">
        <div class="row">
          <div class="col-6">
            <h6>
              Example Value
              <span *ngIf="isValidExample" class="font-italic" style="color: limegreen;">valid</span>
              <span *ngIf="!isValidExample" class="font-italic" style="color: indianred;">invalid</span>
            </h6>
            <textarea
              #exampleValue
              class="form-control"
              rows="{{ defaultExample.lineCount }}"
              [value]="defaultExample.value"
              (keyup)="changeExample.next(exampleValue.value)"></textarea>
            <p *ngIf="!isValidExample" class="mt-2 pl-1">{{ invalidMessage }}</p>
            <hr>
            <button
              class="btn btn-primary mr-3"
              (click)="exampleValue.value = defaultExample.value; validate(defaultExample.value);">Default</button>
            <button
              [disabled]="!isValidExample"
              class="btn btn-primary mr-3"
              (click)="publish(exampleValue.value)">Publish</button>
          </div>
          <div class="col-6">
            <h6>Model</h6>
            <app-model [modelName]="endpoint.payloadModelName" [model]="model"></app-model>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
