<h1>Channels</h1>
<mat-accordion>
    <mat-expansion-panel *ngFor="let channel of channels | keyvalue">
        <mat-expansion-panel-header>
            <mat-panel-title fxLayout fxLayoutAlign="flex-start center" fxLayoutGap="16px">
                <div class="operation-badge">{{ channel.value.operation.type === "SUBSCRIBE" ? "CONSUMER" : "PRODUCER" }}</div>
                <h3>{{ channel.key }}</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-channel-main [channelName]="channel.key" [operation]="channel.value.operation"></app-channel-main>
    </mat-expansion-panel>
</mat-accordion>