<h1>Channels</h1>
<mat-accordion>
    <mat-expansion-panel *ngFor="let channel of channels | keyvalue">
        <mat-expansion-panel-header>
            <mat-panel-title fxLayout fxLayoutAlign="flex-start center" fxLayoutGap="16px">
                <div class="operation-badge">{{ channel.value.operation.type === "SUBSCRIBE" ? "CONSUMER" : "PRODUCER" }}</div>
                <h3>{{ channel.key }}</h3>
                <mat-divider vertical></mat-divider>
                <h4>{{ channel.value.operation.message.title }}</h4>
                <div class="payload-name">{{ channel.value.operation.message.name }}</div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-channel-main [payload]="channel.value.operation.message.title"></app-channel-main>
    </mat-expansion-panel>
</mat-accordion>