<!-- SPDX-License-Identifier: Apache-2.0 -->
<div class="row">
  <div class="width-12/12 width-12/12-s">
    <mat-divider></mat-divider>
    <div class="table">
      <div *ngIf="operation().description" class="table-row">
        <span>Operation description</span>
        <markdown [data]="operation().description"></markdown>
      </div>
      <div *ngIf="operation().message.description" class="table-row">
        <span>Message description</span>
        <markdown [data]="operation().message.description"></markdown>
      </div>
      <div *ngIf="operation().message.contentType" class="table-row">
        <span>Content-Type</span>
        <markdown [data]="operation().message.contentType"></markdown>
      </div>
      <div class="table-row">
        <span>Servers</span>
        <span>
          <mat-chip-set>
            @for (server of operation().servers; track server) {
            <mat-chip>
              <mat-icon fontIcon="dns"></mat-icon>
              <a href="{{ server.anchorUrl }}">{{ server.name }}</a>
            </mat-chip>
            }
          </mat-chip-set>
        </span>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="width-6/12 width-12/12-s">
    <h3>Operation Binding</h3>
  </div>
  <div class="width-6/12 width-12/12-s align-content-center">
    <div *ngIf="operation().protocol">
      <app-json
        *ngIf="operation().protocol && operation().bindings"
        [data]="operation().bindings[operation().protocol]"
      ></app-json>
    </div>
  </div>
</div>

<mat-divider></mat-divider>
<div class="row">
  <div class="width-6/12 width-12/12-s">
    <h3>Message Binding</h3>
  </div>
  <div class="width-6/12 width-12/12-s align-content-center">
    <div>
      <app-json
        *ngIf="messageBindingExampleString"
        [data]="messageBindingExampleString"
      ></app-json>
      <span *ngIf="!messageBindingExampleString"><i>none</i></span>
    </div>
  </div>
</div>

<mat-divider></mat-divider>
<div class="row">
  <div class="width-6/12 width-12/12-s">
    <h3>Headers</h3>
    <mat-chip-set>
      <mat-chip>
        <mat-icon>schema</mat-icon>
        <a [href]="operation().message.headers.anchorUrl">{{
          operation().message.headers.title
        }}</a>
      </mat-chip>
    </mat-chip-set>
  </div>
  <div class="width-6/12 width-12/12-s align-content-center">
    <app-prism-editor [(code)]="headersExample.value" language="json" />
  </div>
</div>

<mat-divider></mat-divider>
<div class="row">
  <div class="width-6/12 width-12/12-s">
    <h3>Payload</h3>

    <app-schema-new *ngIf="schema" [schema]="schema"></app-schema-new>
  </div>

  <div class="width-6/12 width-12/12-s align-content-center">
    <a [href]="operation().message.payload.anchorUrl">{{
      operation().message.payload.name
    }}</a>

    <app-prism-editor [(code)]="defaultExample.value" language="json" />
    <div class="button-container flex gap-8">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!canPublish"
        (click)="publish()"
      >
        Publish
      </button>
      <button mat-raised-button color="primary">Reset (TODO)</button>
      <button
        mat-raised-button
        color="primary"
        [cdkCopyToClipboard]="defaultExample.value"
      >
        Copy
      </button>
    </div>
  </div>
</div>
