<!-- SPDX-License-Identifier: Apache-2.0 -->
<div class="row">
  <div class="width-12/12 width-12/12-s">
    <mat-divider></mat-divider>
    <div class="table">
      <div *ngIf="operation().description" class="table-row">
        <span>Operation description</span>
        <markdown [data]="operation().description"></markdown>
      </div>
      <div *ngIf="operation().message.description" class="table-row">
        <span>Message description</span>
        <markdown [data]="operation().message.description"></markdown>
      </div>
      <div *ngIf="operation().message.contentType" class="table-row">
        <span>Content-Type</span>
        <markdown [data]="operation().message.contentType"></markdown>
      </div>
      <div class="table-row">
        <span>Servers</span>
        <span>
          <mat-chip-set>
            @for (server of operation().servers; track server) {
            <a href="{{ server.anchorUrl }}">
              <mat-chip>
                <mat-icon matChipAvatar fontIcon="dns" />
                {{ server.name }}
              </mat-chip>
            </a>
            }
          </mat-chip-set>
        </span>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="width-6/12 width-12/12-s">
    <h6>Operation Binding</h6>
  </div>
  <div class="width-6/12 width-12/12-s">
    <div *ngIf="operation().protocol">
      <app-json
        *ngIf="operation().protocol && operation().bindings"
        [data]="operation().bindings[operation().protocol]"
      ></app-json>
    </div>
  </div>
</div>

<mat-divider></mat-divider>
<div class="row">
  <div class="width-6/12 width-12/12-s">
    <h6>Message Binding</h6>
  </div>
  <div class="width-6/12 width-12/12-s">
    <div>
      <app-json
        *ngIf="messageBindingExampleString"
        [data]="messageBindingExampleString"
      ></app-json>
      <span *ngIf="!messageBindingExampleString"><i>none</i></span>
    </div>
  </div>
</div>

<mat-divider></mat-divider>
<div class="row">
  <div class="width-6/12 width-12/12-s">
    <h6>Headers</h6>
    <mat-chip-set>
      <a [href]="operation().message.headers.anchorUrl">
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="schema" />
          {{ operation().message.headers.title }}
        </mat-chip></a
      >
    </mat-chip-set>
  </div>
  <div class="width-6/12 width-12/12-s">
    <app-prism-editor [(code)]="headersExample.value" language="json" />
  </div>
</div>

<mat-divider></mat-divider>
<div class="row">
  <div class="width-6/12 width-12/12-s">
    <h6>Payload</h6>
    <mat-chip-set>
      <a [href]="operation().message.payload.anchorUrl">
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="schema" />
          {{ operation().message.payload.title }}
        </mat-chip></a
      >
    </mat-chip-set>

    <app-schema-new *ngIf="schema" [schema]="schema"></app-schema-new>
  </div>

  <div class="width-6/12 width-12/12-s">
    <app-prism-editor [(code)]="defaultExample.value" language="json" />

    <div class="button-container flex gap-8">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!canPublish"
        (click)="publish()"
      >
        <mat-icon fontIcon="send" />
        Publish
      </button>
      <button mat-raised-button color="primary">
        <mat-icon fontIcon="restart_alt" />
        Reset (TODO)
      </button>
      <button
        mat-raised-button
        color="primary"
        [cdkCopyToClipboard]="defaultExample.value"
      >
        <mat-icon fontIcon="content_copy" />
        Copy
      </button>
    </div>
  </div>
</div>
