/* SPDX-License-Identifier: Apache-2.0 */
textarea {
  width: calc(100% - 16px);
  padding: 8px;
  margin-top: 16px;
  border-radius: 4px;
  border-width: 0;
  line-height: 24px;
  background-color: #282c34;
  color: #abb2bf;
}

button {
  margin-top: 8px;
}

.property-badge {
  background-color: #c5cae9;
  border-radius: 4px;
  padding: 6px;
  font-size: small;
  font-weight: bold;
}

.payload-name {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 6px;
  font-weight: normal;
}

.button-container {
  height: 50px;
}

.table {
  display: table;
}
.table .table-row {
  display: table-row;
}
.table-row * {
  display: table-cell;
}
.table-row *:first-child {
  font-weight: bold;
  padding-right: 8px;
}

[hidden] {
  display: none !important;
}

a {
  word-break: break-all;
  max-width: 100%;
}
.align-content-center {
  align-content: center;
}

mat-chip {
  width: 100%;
  overflow: hidden;
}
