<!-- SPDX-License-Identifier: Apache-2.0 -->
<app-header></app-header>
<main class="flex-column" *ngIf="!isNewUi">
  <app-info></app-info>
  <app-servers></app-servers>
  <app-channels></app-channels>
  <app-schemas></app-schemas>
</main>
<main>
  <mat-list *ngIf="isNewUi">
    <app-info></app-info>
    <div mat-subheader>Servers</div>
    @for (folder of folders; track folder) {
    <mat-list-item>
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle>{{ folder.name }}</div>
      <div matListItemLine>{{ folder.updated | date }}</div>
      asdfasdf asdfasdfasdf
    </mat-list-item>
    }
    <mat-divider></mat-divider>
    <div mat-subheader>Operations</div>
    @for (folder of folders; track folder) {
    <mat-list-item lines="999">
      <mat-icon matListItemIcon>folder</mat-icon>
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle>{{ folder.name }}</div>
      <div matListItemLine>{{ folder.updated | date }}</div>
      <div>
        234 asdfasdfasdf 345

        <div class="grid">
          <textarea
            class="width-12/12 width-6/12-m"
            spellcheck="false"
            #headersTextArea
            [rows]="3"
            [value]="json"
          ></textarea>
          <app-json [data]="json" class="width-12/12 width-6/12-m"></app-json>
        </div>
      </div>
    </mat-list-item>
    }
    <mat-divider></mat-divider>
    <div mat-subheader>Channels</div>
    @for (note of notes; track note) {
    <mat-list-item lines="999">
      <mat-icon matListItemIcon>note</mat-icon>
      <div matListItemTitle>{{ note.name }}</div>
      <div matListItemLine>{{ note.updated | date }}</div>
    </mat-list-item>
    }
    <mat-divider></mat-divider>
    <div mat-subheader>Messages</div>
    @for (note of notes; track note) {
    <mat-list-item lines="999">
      <mat-icon matListItemIcon>note</mat-icon>
      <div matListItemTitle>{{ note.name }}</div>
      <div matListItemLine>{{ note.updated | date }}</div>
    </mat-list-item>
    }
    <mat-divider></mat-divider>
    <div mat-subheader>Channels</div>
    @for (note of notes; track note) {
    <mat-list-item lines="999">
      <mat-icon matListItemIcon>note</mat-icon>
      <div matListItemTitle>{{ note.name }}</div>
      <div matListItemLine>{{ note.updated | date }}</div>
    </mat-list-item>
    }
  </mat-list>
</main>
