/* SPDX-License-Identifier: Apache-2.0 */
.app-header {
  position: fixed;
  z-index: 100;
  width: 100%;
}

main {
  margin: 0 64px;
  height: calc(100% - 64px - 16px);
  padding-bottom: 16px;
}
main.new-ui {
  margin: 0;
  height: calc(100% - 64px);
  padding: 0;
}

section {
  margin: 2em 1em;
}
