<!-- SPDX-License-Identifier: Apache-2.0 -->
<app-header></app-header>
<main class="flex-column" *ngIf="!isNewUi">
  <app-info></app-info>
  <app-servers></app-servers>
  <app-channels></app-channels>
  <app-schemas></app-schemas>
</main>
<main *ngIf="isNewUi" class="newUi">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        @for (link of links; track link) {
        <a matListItemTitle [href]="link.url">
          <mat-list-item [activated]="link.isActive">
            {{ link.name }}
          </mat-list-item>
        </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <section id="info">
      <app-info></app-info>
    </section>
    <section id="servers">
      <app-servers></app-servers>
    </section>
    <section id="channels">
      <app-channels></app-channels>
    </section>
    <section id="operations">

    </section>
    <section id="schemas">
      <app-schemas></app-schemas>
    </section>
  </mat-sidenav-container>
</main>