<!-- SPDX-License-Identifier: Apache-2.0 -->
<div class="schema">
  <!--  Primitive types  -->
  <ng-container
    *ngIf="schema().type !== 'object'"
    [ngTemplateOutlet]="valueContent"
    [ngTemplateOutletContext]="{ value: schema() }"
  >
  </ng-container>

  <!--  Objects  -->
  <mat-list *ngIf="Object.keys(schema().properties || {}).length > 0">
    <mat-list-item
      *ngFor="let property of schema().properties || {} | keyvalue"
      lines="99"
    >
      <span class="key" matListItemTitle>
        <b class="text-console">{{ property.key }}</b>
        <span class="required" *ngIf="schema().required?.includes(property.key)"
          >*</span
        >
        <span class="deprecated" *ngIf="property.value.deprecated"
          >&nbsp;(deprecated)</span
        >
        &nbsp;
      </span>
      <ng-container
        matListItemLine
        [ngTemplateOutlet]="valueContent"
        [ngTemplateOutletContext]="{ value: property.value }"
      >
      </ng-container>
    </mat-list-item>
  </mat-list>
</div>

<ng-template #valueContent let-value="value">
  <!-- primitive property -->
  <span class="type text-console" *ngIf="value?.type != 'array'">
    {{ value.type }}
    <span class="format" *ngIf="value.format">({{ value.format }})</span>
  </span>
  <!-- ref to other class -->
  <span class="type" *ngIf="value.refTitle">
    <mat-chip-set>
      <a [href]="value.anchorUrl">
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="schema" />
          {{ value.refTitle }}
        </mat-chip></a
      >
    </mat-chip-set>
  </span>
  <!-- array of refs -->
  <span
    class="type text-console"
    *ngIf="value?.type == 'array' && value?.items?.refTitle"
  >
    <mat-chip-set>
      <a [href]="value.items.refAnchorUrl">
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="schema" />
          {{ value.items.refTitle }}[]
        </mat-chip></a
      >
    </mat-chip-set>
  </span>
  <!-- array of primitive -->
  <span
    class="type text-console"
    *ngIf="value?.type == 'array' && !value?.items?.refTitle"
  >
    {{ value.items.type }}[]
  </span>

  <div class="description" *ngIf="value.description?.length > 0">
    <markdown [data]="value.description"></markdown>
  </div>

  <span class="example" *ngIf="value.example">
    <i>Example:</i>
    &nbsp;
    <span *ngIf="!value.enum" class="text-console">
      {{ value.example.value }}
    </span>
    <mat-select *ngIf="value.enum" placeholder="Enum">
      <mat-option *ngFor="let enumValue of value.enum" [value]="enumValue">
        {{ enumValue }}
      </mat-option>
    </mat-select>
  </span>

  <!-- attributes -->
  <span class="flex flex-wrap">
    <!-- array attributes -->
    <span
      *ngIf="value.minItems != null || value.maxItems != null"
      class="attribute"
    >
      <app-schema-range-new
        [lowerBound]="value.minItems"
        [upperBound]="value.maxItems"
        lowerBoundInclusive="true"
        upperBoundInclusive="true"
      />
      items
    </span>
    <span *ngIf="value.uniqueItems != null" class="attribute">
      Unique items:
      {{ value.uniqueItems ? "yes" : "no" }}
    </span>

    <!-- primitive attributes -->
    <span *ngIf="value.pattern" class="attribute">
      pattern:
      <span class="text-console">
        {{ value.pattern }}
      </span>
    </span>
    <span
      *ngIf="value.minLength != null || value.maxLength != null"
      class="attribute"
    >
      <app-schema-range-new
        [lowerBound]="value.minLength"
        [upperBound]="value.maxLength"
        lowerBoundInclusive="true"
        upperBoundInclusive="true"
      />
      length
    </span>

    <span
      *ngIf="value.minimum != undefined || value.maximum != undefined"
      class="attribute"
    >
      <app-schema-range-new
        [lowerBound]="value.minimum"
        [upperBound]="value.maximum"
        [lowerBoundInclusive]="!value.exclusiveMinimum"
        [upperBoundInclusive]="!value.exclusiveMaximum"
      />
      value range
    </span>
    <span *ngIf="value.multipleOf != undefined" class="attribute">
      Multiple of
      {{ value.multipleOf }}
    </span>
  </span>

  <mat-divider />
</ng-template>
