<!-- SPDX-License-Identifier: Apache-2.0 -->
<div class="schema">
  <!--  Primitive types  -->
  <ng-container
    *ngIf="schema().type !== 'object'"
    [ngTemplateOutlet]="valueContent"
    [ngTemplateOutletContext]="{ value: schema() }"
  >
  </ng-container>

  <!--  Objects  -->
  <p *ngFor="let property of schema().properties || {} | keyvalue">
    <mat-divider></mat-divider>

    <span class="key text-console">
      <b>{{ property.key }}</b>
      <span class="required" *ngIf="schema().required?.includes(property.key)"
        >*</span
      >
      &nbsp;
    </span>

    <ng-container
      [ngTemplateOutlet]="valueContent"
      [ngTemplateOutletContext]="{ value: property.value }"
    >
    </ng-container>
  </p>
</div>

<ng-template #valueContent let-value="value">
  <!-- primitive property -->
  <span class="type text-console" *ngIf="value?.type != 'array'">
    {{ value.type }}
    <span class="format" *ngIf="value.format">({{ value.format }})</span>
  </span>
  <!-- ref to other class -->
  <span class="type" *ngIf="value.refTitle">
    <mat-chip-set>
      <a [href]="value.anchorUrl">
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="schema" />
          {{ value.refTitle }}
        </mat-chip></a
      >
    </mat-chip-set>
  </span>
  <!-- array of refs -->
  <span
    class="type text-console"
    *ngIf="value?.type == 'array' && value?.items?.anchorUrl"
  >
    <mat-chip-set>
      <a [href]="value.items.anchorUrl">
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="schema" />
          {{ value.items.refTitle }}[]
        </mat-chip></a
      >
    </mat-chip-set>
  </span>
  <!-- array of primitive -->
  <span
    class="type text-console"
    *ngIf="value?.type == 'array' && !value?.items?.anchorUrl"
  >
    {{ value.items.type }}[]
  </span>

  <div class="description">
    <markdown [data]="value.description"></markdown>
  </div>

  <span class="example" *ngIf="value.example">
    <i>Example:</i>
    &nbsp;
    <span *ngIf="!value.enum" class="text-console">
      {{ value.example.value }}
    </span>
    <mat-select *ngIf="value.enum" placeholder="Enum">
      <mat-option *ngFor="let enumValue of value.enum" [value]="enumValue">
        {{ enumValue }}
      </mat-option>
    </mat-select>
  </span>
  <app-schema-range [schema]="value"> </app-schema-range>

  <hr />
</ng-template>
