/* SPDX-License-Identifier: Apache-2.0 */
.required {
  color: red;
}

.deprecated {
  color: red;
}

.description {
  overflow: auto;
  margin-bottom: -1em;
}

.example {
  word-break: break-all;
}

.attribute {
  background-color: rgb(128, 90, 213);
  color: rgb(255, 255, 255);
  margin: 0 0.2em 0.2em 0;
  padding: 0.1em 0.2em 0.1em 0.2em;
  border-radius: 4px;
}
