<!-- SPDX-License-Identifier: Apache-2.0 -->
<h1>{{ info?.title }}</h1>
<h5>
  API version {{ info?.version || "not specified" }}
  -
  <a *ngIf="info?.asyncApiJson" href="javascript:void(0);" (click)="download()"
    >Download AsyncAPI file</a
  >
</h5>

<p class="info-chips">
  <mat-chip *ngIf="info?.license?.name">
    <a
      *ngIf="info?.license?.url; else licenseElseBlock"
      [href]="info.license.url"
      target="_blank"
    >
      License: {{ info.license.name }}
    </a>
    <ng-template #licenseElseBlock
      >License: {{ info.license.name }}</ng-template
    >
  </mat-chip>

  <mat-chip *ngIf="info?.contact?.url">
    <a [href]="info.contact.url" target="_blank">
      {{ info.contact.url }}
    </a>
  </mat-chip>
  <mat-chip *ngIf="info?.contact?.email">
    <a [href]="info.contact.email.href" target="_blank">
      {{ info.contact.email.name }}
    </a>
  </mat-chip>
</p>

<p *ngIf="info?.description">
  <markdown [data]="info.description"></markdown>
</p>
