<div class="row mb-4">
  <div class="col-12">
    <div class="row pt-2">
      <div class="col-12">
        <h3>Models</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12"><hr></div>
    </div>
    <div class="row">
      <div class="col-12">
        <div>
          <div class="row mb-2" *ngFor="let model of models | keyvalue">
            <div class="col-12">
              <app-model [modelName]="model.key" [model]="model.value" [isOpen]="false"></app-model>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
