/* SPDX-License-Identifier: Apache-2.0 */
.badge {
  border-radius: 4px;
  padding: 8px;
  font-size: small;
  font-weight: bold;
  display: inline-block;
}

.send-badge {
  background-color: #ffd580;
}

.receive-badge {
  background-color: #9bd279;
}

.protocol-badge {
  background-color: #347aeb;
  color: #fff;
}

mat-divider {
  height: 20px;
}

.payload-name {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 4px;
  font-weight: normal;
  font-size: small;
}
