name: Publish releases

on: workflow_dispatch

permissions:
  contents: write
  packages: write

jobs:
  publish-springwolf-core-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Publish
        run: ./gradlew -p springwolf-core publish
        env:
          ORG_GRADLE_PROJECT_SNAPSHOT: false
          ORG_GRADLE_PROJECT_SIGNINGKEY: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGKEY}}
          ORG_GRADLE_PROJECT_SIGNINGPASSWORD: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD}}
          ORG_GRADLE_PROJECT_MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          ORG_GRADLE_PROJECT_MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}

      - name: Tag version
        run: |
          VERSION=$(./gradlew -p springwolf-core properties | grep "version:" | awk '{print $2}')
          TAG="springwolf-core-$VERSION"
          git tag "$TAG"

          echo "Publishing tag"
          git push origin "$TAG" || true # Do not fail, if the tag already exists
        env:
          ORG_GRADLE_PROJECT_SNAPSHOT: false

  publish-springwolf-amqp-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Publish
        run: ./gradlew -p springwolf-plugins/springwolf-amqp-plugin publish
        env:
          ORG_GRADLE_PROJECT_SNAPSHOT: false
          ORG_GRADLE_PROJECT_SIGNINGKEY: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGKEY}}
          ORG_GRADLE_PROJECT_SIGNINGPASSWORD: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD}}
          ORG_GRADLE_PROJECT_MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          ORG_GRADLE_PROJECT_MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}

      - name: Tag version
        run: |
          VERSION=$(./gradlew -p springwolf-plugins/springwolf-amqp-plugin properties | grep "version:" | awk '{print $2}')
          TAG="springwolf-amqp-$VERSION"
          git tag "$TAG"

          echo "Publishing tag"
          git push origin "$TAG" || true # Do not fail, if the tag already exists
        env:
          ORG_GRADLE_PROJECT_SNAPSHOT: false

  publish-springwolf-kafka-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Publish
        run: ./gradlew -p springwolf-plugins/springwolf-kafka-plugin publish
        env:
          ORG_GRADLE_PROJECT_SNAPSHOT: false
          ORG_GRADLE_PROJECT_SIGNINGKEY: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGKEY}}
          ORG_GRADLE_PROJECT_SIGNINGPASSWORD: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD}}
          ORG_GRADLE_PROJECT_MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          ORG_GRADLE_PROJECT_MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}

      - name: Tag version
        run: |
          VERSION=$(./gradlew -p springwolf-plugins/springwolf-kafka-plugin properties | grep "version:" | awk '{print $2}')
          TAG="springwolf-kafka-$VERSION"
          git tag "$TAG"

          echo "Publishing tag"
          git push origin "$TAG" || true # Do not fail, if the tag already exists
        env:
          ORG_GRADLE_PROJECT_SNAPSHOT: false

  publish-springwolf-cloud-stream-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Publish
        run: ./gradlew -p springwolf-plugins/springwolf-cloud-stream-plugin publish
        env:
          ORG_GRADLE_PROJECT_SNAPSHOT: false
          ORG_GRADLE_PROJECT_SIGNINGKEY: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGKEY}}
          ORG_GRADLE_PROJECT_SIGNINGPASSWORD: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD}}
          ORG_GRADLE_PROJECT_MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          ORG_GRADLE_PROJECT_MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}

      - name: Tag version
        run: |
          VERSION=$(./gradlew -p springwolf-plugins/springwolf-cloud-stream-plugin properties | grep "version:" | awk '{print $2}')
          TAG="springwolf-cloud-stream-$VERSION"
          git tag "$TAG"

          echo "Publishing tag"
          git push origin "$TAG" || true # Do not fail, if the tag already exists
        env:
          ORG_GRADLE_PROJECT_SNAPSHOT: false

  publish-springwolf-ui-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Publish
        run: ./gradlew -p springwolf-ui publish
        env:
          ORG_GRADLE_PROJECT_SNAPSHOT: false
          ORG_GRADLE_PROJECT_SIGNINGKEY: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGKEY}}
          ORG_GRADLE_PROJECT_SIGNINGPASSWORD: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD}}
          ORG_GRADLE_PROJECT_MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          ORG_GRADLE_PROJECT_MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}

      - name: Tag version
        run: |
          VERSION=$(./gradlew -p springwolf-ui properties | grep "version:" | awk '{print $2}')
          TAG="springwolf-ui-$VERSION"
          git tag "$TAG"

          echo "Publishing tag"
          git push origin "$TAG" || true # Do not fail, if the tag already exists
        env:
          ORG_GRADLE_PROJECT_SNAPSHOT: false
