name: springwolf-core

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize, ready_for_review ]
  workflow_dispatch:

permissions:
  contents: read
  checks: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Check formatting (before running tests)
        run: ./gradlew -p springwolf-core spotlessCheck

      - name: Run build, check, analyzeDependencies
        run: ./gradlew -p springwolf-core build

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: success() || failure()
        with:
          check_name: test-core
          require_tests: true
          report_paths: '**/build/test-results/test/TEST-*.xml'

      - name: Publish package
        if: github.ref == 'refs/heads/master'
        run: ./gradlew -p springwolf-core publish
        env:
          ORG_GRADLE_PROJECT_SNAPSHOT: true

          ORG_GRADLE_PROJECT_SIGNINGKEY: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGKEY}}
          ORG_GRADLE_PROJECT_SIGNINGPASSWORD: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD}}

          ORG_GRADLE_PROJECT_MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          ORG_GRADLE_PROJECT_MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
