name: springwolf-addons

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize, ready_for_review ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        addon: [ "common-model-converters", "generic-binding", "json-schema", "kotlinx-serialization-model-converter" ]

    env:
      addon: springwolf-add-ons/springwolf-${{ matrix.addon }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Check formatting (before running tests) on add-on
        run: ./gradlew -p ${{ env.addon }} spotlessCheck

      - name: Run unit tests
        run: ./gradlew -p ${{ env.addon }} test

      - name: Run build, check, analyzeDependencies on add-on
        run: ./gradlew -p ${{ env.addon }} build

      - name: Publish package
        if: github.ref == 'refs/heads/master'
        run: ./gradlew -p ${{ env.addon }} publish
        env:
          ORG_GRADLE_PROJECT_SNAPSHOT: true

          ORG_GRADLE_PROJECT_SIGNINGKEY: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGKEY}}
          ORG_GRADLE_PROJECT_SIGNINGPASSWORD: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD}}

          ORG_GRADLE_PROJECT_MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          ORG_GRADLE_PROJECT_MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
