name: springwolf-amqp

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/springwolf-amqp.yml'
      - 'springwolf-core/**'
      - 'springwolf-plugins/springwolf-amqp-plugin/**'
      - 'springwolf-examples/springwolf-amqp-example/**'
  pull_request:
    types: [ opened, synchronize, ready_for_review ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Run unit tests
        run: ./gradlew -p springwolf-plugins/springwolf-amqp-plugin test

      - name: Run integration tests
        run: ./gradlew -p springwolf-examples/springwolf-amqp-example test

      - name: Publish package
        if: github.ref == 'refs/heads/master'
        run: ./gradlew -p springwolf-plugins/springwolf-amqp-plugin publish
        env:
          ORG_GRADLE_PROJECT_SNAPSHOT: true

          ORG_GRADLE_PROJECT_SIGNINGKEY: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGKEY}}
          ORG_GRADLE_PROJECT_SIGNINGPASSWORD: ${{secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD}}

          ORG_GRADLE_PROJECT_MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          ORG_GRADLE_PROJECT_MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
