name: swagger4kafka-example

on:
  push:
    paths:
      - '.github/workflows/swagger4kafka-example.yml'
      - 'swagger4kafka-example/**'
      - 'build.gradle'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: Run integration tests
      run: ./gradlew -p swagger4kafka-example test
